<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" href="../../static/layuiadmin/layui/css/layui.css"
          media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-entityadmin" id="layuiadmin-form-entityadmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">资源名</label>
        <div class="layui-input-inline">
            <input name="id" type="hidden" th:value="${resources.id}"/>
            <input name="name" autocomplete="off" class="layui-input" type="text" th:value="${resources.name}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源类型</label>
        <div class="layui-input-inline">
            <select name="type">
                <option value="">所有</option>
                <option th:each="e:${allResourcesType}" th:value="${e.key}" th:text="${e.value}" th:selected="${e.key eq resources.type }" ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">url</label>
        <div class="layui-input-inline">
            <input name="url" autocomplete="off" class="layui-input" type="text" th:value="${resources.url}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-inline">
            <input name="permission" autocomplete="off" class="layui-input" type="text" th:value="${resources.permission}"/>
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label">父资源</label>
        <div class="layui-input-inline">
            <select name="type">
                <option th:each="e:${allResourcesType}" th:value="${e.key}" th:text="${e.value}"></option>
            </select>
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">父资源</label>
        <div class="layui-input-inline">
            <input name="parentId" autocomplete="off" class="layui-input" type="text" th:value="${resources.parentId}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input name="sort" autocomplete="off" class="layui-input" type="text" th:value="${resources.sort}"/>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-entity-front-submit" id="LAY-entity-front-submit" value="确认">
    </div>
</div>

<script th:src="@{/static/layuiadmin/layui/layui.js}" src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#createTime'
            , trigger: 'click'
            , type: 'datetime'
            , format: 'yyyy-MM-dd HH:mm:ss'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#lastModifyTime'
            , trigger: 'click'
            , type: 'datetime'
            , format: 'yyyy-MM-dd HH:mm:ss'
            , type: 'datetime'
        });
    });
</script>
</body>
</html>