<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="../../static/js/jquery-1.11.2.min.js"></script>
    <script src="../../static/js/neo-framework.js"></script>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet"  href="../../static/layuiadmin/style/admin.css" media="all">
    <style>
      .layui-form-label{width:auto;}
    </style>
    <script  src="../../static/layuiadmin/layui/layui.js"></script>
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">资源名</label>
                        <div class="layui-input-inline">
                            <input name="name" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">资源类型</label>
                            <div class="layui-input-inline">
                                <select name="type">
                                    <option value="">所有</option>
                                    <option th:each="e:${allResourcesType}" th:value="${e.key}" th:text="${e.value}"></option>
                                </select>
                            </div>
                        </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-entity-front-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                </div>
                <table lay-filter="LAY-entity-manage" class="layui-table" lay-data="{height:'full-220', url:'/resources/list', page:true, id:'LAY-entity-manage' ,parseData: function(res){tableJson=res;return res;}}" >
                    <thead>
                    <tr>
                        <th lay-data="{type: 'checkbox', fixed: 'left'}">编号</th>
                        <th lay-data="{width:100,field: 'id'}">id</th>
<!--                        <th lay-data="{width:150,field: 'school',templet: function(d){return d.school==null?'':d.school.name}}">学校</th>-->
                        <th lay-data="{width:150,field: 'name'}">资源名</th>
                        <th lay-data="{width:100,field: 'type',templet:function(d){return formatRefrence('allResourcesType',d.type)}}">资源类型</th>
                        <th lay-data="{width:100,field: 'url'}">url</th>
                        <th lay-data="{width:100,field: 'permission'}">权限</th>
                        <th lay-data="{width:100,field: 'parentId'}">父资源id</th>
                        <th lay-data="{width:100,field: 'sort'}">排序</th>
                        <th lay-data="{width:180,field: 'createTime',templet:function(d){return d.createTime==null?'':layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}">创建时间</th>
<!--                        <th lay-data="{width:100,field: 'status',templet:function(d){return formatRefrence('allStatuss',d.status)}}">状态</th>-->
<!--                        <th lay-data="{width:100,field: 'deleted'}">状态</th>-->
                        <!--<th lay-data="{width:100,field: 'descn'}">描述</th>
                        <th lay-data="{width:100,field: 'gender'}">性别</th>
                        <th lay-data="{width:100,field: 'birthday'}">生日</th>-->
<!--                        <th lay-data="{width:100,field: 'city'}">城市</th>-->
                        <th lay-data="{width: 250, align: 'center', fixed: 'right', toolbar: '#table-useradmin-webuser'}">操作</th>
                    </tr>
                    </thead>
                </table>
                <script type="text/html" id="table-useradmin-webuser">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit" ><i class="layui-icon layui-icon-edit"></i>编辑</a>
<!--                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="resetPassword" ><i class="layui-icon layui-icon-edit"></i>重置密码</a>-->
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </script>
            </div>
        </div>
    </div>
    <script>
        layui.use(['table','laydate'], function(){
            var $ = layui.$
                ,table = layui.table
                ,form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#gte_createTime'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm:ss'
                ,type:'datetime'
            });
            laydate.render({
                elem: '#lte_createTime'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm:ss'
                ,type:'datetime'
            });
            laydate.render({
                elem: '#gte_lastModifyTime'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm:ss'
                ,type:'datetime'
            });
            laydate.render({
                elem: '#lte_lastModifyTime'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm:ss'
                ,type:'datetime'
            });
            //监听工具条
            table.on('tool(LAY-entity-manage)', function(obj){
                var data = obj.data;
                if(obj.event == 'del'){
                    layer.confirm('确定删除用户吗?', function(index){
                        $.post('/resources/delete',{id:data.id},function(result){
                            if(result.code == 0){
                                obj.del();
                                layer.msg(result.message);
                                layer.close(index);
                            }else{
                                layer.alert(result.message);
                            }
                        });
                    });
                } else if(obj.event == 'edit'){
                    $.neo.framework.edit({table:table,url:'/resources/edit?id='+data.id,updateUrl:'/resources/update'});
                }
            });
            //事件
            var active = {
                batchdel: function(){
                    var checkStatus = table.checkStatus('LAY-entity-manage');
                    var checkData = checkStatus.data; //得到选中的数据
                    if(checkData.length === 0){
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function(index) {
                        //执行 Ajax 后重载
                        var userIds=null;
                        $(checkData).each(function (i,item) {
                            if(userIds ==null){
                                userIds = item.id;
                            }else{
                                userIds+=","+item.id;
                            }
                            return userIds;
                        });
                        alert("checkData"+userIds);
                        $.post('/resources/batchdel',{ids:userIds},function(result){
                            if(result.code == 0){
                                // obj.del();
                                layer.msg(result.message);
                                layer.close(index);
                                table.reload('LAY-entity-manage', {
                                    //表格重载
                                });
                            }else{
                                layer.alert(result.message);
                            }
                        });
                        table.reload('LAY-entity-manage');
                        layer.msg('已删除');
                    });
                }
                ,add: function(){
                    $.neo.framework.create({table:table,url:'/resources/create',saveUrl:'/resources/save'});
                }
            }

            $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //监听搜索
            form.on('submit(LAY-entity-front-search)', function(data){
                var field = data.field;
                //执行重载
                table.reload('LAY-entity-manage', {
                    where: field
                });
            });
        });

        function showRoles(roleList) {
            var roleName = '';
            $(roleList).each(function (i,v) {
                if(i==0){
                    roleName = v.name;
                }else{
                    roleName = roleName+','+v.name;
                }
            });
            return roleName;
        }
    </script>
  </body>

</html>